@(dataController: DataController)

@main(dataController.getOrganisationName()) {
<h1 id="organisationName" class="text-center">@dataController.getOrganisationName()</h1>
<div class="row">
	<div class="col-xs-6 col-sm-6">
    <div class="page-header"><h3>General Information</h3></div>
    <dl class="dl-horizontal" id="freelance">
    	<dt>Registration Number </dt><dd>@dataController.getRegistrationNumber()</dd>
    	<dt>Trading Name </dt><dd>@dataController.getTradingName()</dd>
    	<dt >Companies House Number </dt><dd>@dataController.getCompaniesHouseNumber()</dd>
    	<dt>Start Date </dt><dd>@dataController.getStartDate()</dd>
    	<dt>End Date </dt><dd>@dataController.getEndDate()</dd>
    	<dt>Freedom of Information Flag </dt><dd>@dataController.getFoiFlag()</dd>
    	<dt>Exempt from processing </dt><dd>@dataController.getExemptFlag()</dd>
    	<dt>Contact in UK </dt><dd>@dataController.getUkContact()</dd>
    	<dt>Subject Access </dt><dd>@dataController.getSubjectAccess()</dd>
    </div>
    <div class="col-xs-6 col-sm-6">
	<div class="page-header"><h3>Contact</h3></div>
    <ul>
    	<li id="address"><b>Address</b> : @dataController.getAddress()</li>
    	<li id="postcode"><b>Postcode</b>: @dataController.getPostcode()</li>
    	<li id="country"><b>Country</b> : @dataController.getCountry()</li>
    </ul>
    @if(dataController.getAddress().length() > 1){
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script src="@routes.Assets.at("javascripts/map.js")" type="text/javascript"></script>
    	<div id="map_canvas"></div>
    }
    </fieldset>
    </div>
     </div>
    @if(dataController.getFormat().equals("new")){
    	<fieldset>
		<legend>General</legend>
		<ul>
			<li><b>Nature of Work</b> 	:	@dataController.getNewFormat().getNatureOfWork()</li>
			<li><b>Transfers</b>		:	@dataController.getNewFormat().getTransfers()</li>
		</ul>
       	</fieldset>
    	    	
    	<fieldset id="newFormat_purposes">
    	<legend>Purposes</legend>
    	<ul>
    		@for(purpose <- dataController.getNewFormat().getPurposes()){
    			<li>@purpose</li>
    		}
    	</ul>
    	</fieldset>
    	<div class="row">
    	<div class="col-xs-4 col-sm-4">
    	<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Data Classes</h3>
					</div>
					<div class="panel-body">
    	<ul>
    		@for(dataClass <- dataController.getNewFormat().getDataClasses()){
    			<li>@dataClass</li>
    		}
    	</ul>
    	@if(dataController.getNewFormat().getSensitiveData.size() > 0){
    		<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Sensitive Data</h3>
					</div>
					<div class="panel-body ">
    		<ul>
    			@for(sensitiveData <- dataController.getNewFormat().getSensitiveData()){
    				<li>@sensitiveData</li>
    			}
    		</ul>
    		</div>
    		</div>
    		}
    	</div>
    	</div>
    	</div>
    		<div class="col-xs-4 col-sm-4">
    		<div class="clearfix visible-xs"></div>
    	<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Data Subjects</h3>
					</div>
					<div class="panel-body">
    	<ul>
    		@for(dataSubject <- dataController.getNewFormat().getDataSubjects()){
    			<li>@dataSubject</li>
    		}
    	</ul>
    	</div>
    	</div>
    	</div>
    		<div class="col-xs-4 col-sm-4">
    	<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Data Disclosees</h3>
					</div>
					<div class="panel-body">
    	<ul>
    		@for(dataDisclosee <- dataController.getNewFormat().getDataDisclosees()){
    			<li>@dataDisclosee</li>
    		}
    	</ul>
    	</div>
    	</div>
    	</div>
    	</div>
    	
    }else{
    	@if(dataController.getFormat().equals("old")){
    		<div class="page-header"><h3>Purposes</h3></div>
    		<div class="panel-group" id="accordion">
    		@for(purpose <- dataController.getOldFormat()){
 			<div class="panel panel-default">   			
    				<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target=#@purpose.getUniquePurpose()>
    				<h4 class="panel-title"><a class="accordion-toggle">@purpose.getPurpose()</a></h4>
    				</div>
    				<div id=@purpose.getPurpose() class="panel-collapse collapse">
    				<div class="panel-body">
    				<fieldset>
    				<legend>General</legend>
    				<ul>
    					<li><b>Description</b> 		:	@purpose.getDescription()</li>
    					<li><b>Further description</b> 		:	@purpose.getFurtherDescription()</li>
    					<li><b>Transfers</b>		:	@purpose.getTransfers()</li>
    				</ul>
    				</fieldset>
    				
    				<div class="row">
    	<div class="col-xs-4 col-sm-4">
    	<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Data Classes</h3>
					</div>
					<div class="panel-body">
    					<ul>
    						@for(dataClass <- purpose.getDataClasses()){
    						<li>@dataClass</li>
    						}
    					</ul>
    				</div>
    				</div>
    				</div>
    				
    				<div class="col-xs-4 col-sm-4">
    	<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Data Subjects</h3>
					</div>
					<div class="panel-body">
    					<ul>
    						@for(subject <- purpose.getDataSubjects()){
    						<li>@subject</li>
    						}
    					</ul>
    				    				</div>
    				</div>
    				</div>
    				
    				<div class="col-xs-4 col-sm-4">
    	<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Data Disclosees</h3>
					</div>
					<div class="panel-body">
    					<ul>
    						@for(disclosee <- purpose.getDataDisclosees()){
    						<li>@disclosee</li>
    						}
    					</ul>
    				    				</div>
    				</div>
    				</div> 
    				</div>
    				</div>
    				</div>
    			</div> 					
    		}
    		</div>
    	}
    } 
}
