@(dataController: DataController)

@main(dataController.getOrganisationName()) {
	<h1 id="organisationName" class="text-center">@dataController.getOrganisationName()</h1>
	<div class="row">
		<div class="col-xs-6 col-sm-6">
			<div class="page-header">
				<h3>General Information</h3>
			</div>
			<dl class="dl-horizontal" id="freelance">
				<dt>Registration Number</dt><dd>@dataController.getRegistrationNumber()</dd>
				<dt>Trading Name</dt><dd>@dataController.getTradingName()</dd>
				<dt>Companies House Number</dt><dd>@dataController.getCompaniesHouseNumber()</dd>
				<dt>Start Date</dt><dd>@dataController.getStartDate()</dd>
				<dt>End Date</dt><dd>@dataController.getEndDate()</dd>
				<dt>Freedom of Information Flag</dt><dd>@dataController.getFoiFlag()</dd>
				<dt>Exempt from processing</dt><dd>@dataController.getExemptFlag()</dd>
				<dt>Contact in UK</dt><dd>@dataController.getUkContact()</dd>
				<dt>Subject Access</dt><dd>@dataController.getSubjectAccess()</dd>
		</div>
		<div class="col-xs-6 col-sm-6">
			<div class="page-header">
				<h3>Contact</h3>
			</div>
			<ul>
				<li id="address"><b>Address</b> : @dataController.getAddress()</li>
				<li id="postcode"><b>Postcode</b>: @dataController.getPostcode()</li>
				<li id="country"><b>Country</b> : @dataController.getCountry()</li>
			</ul>
			<address id="address">
				@for(line <- dataController.getAddress()){ 
					@line<br> 
				}
				@dataController.getPostcode()
			</address>
			@if(dataController.getAddress().size() > 0){
				<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
				<script src="@routes.Assets.at("javascripts/map.js")" type="text/javascript"></script>
				<div id="map_canvas"></div>
			}
		</div>
	</div>
	<div>
		<div class="page-header">
			<h3>Data Processing details</h3>
		</div>
		@if(dataController.getFormat().equals("new")){
			@newFormat(dataController.getNewFormat()) 
		}else{
			@if(dataController.getFormat().equals("old")){
				@oldFormat(dataController.getOldFormat()) 
			} 
		}
	</div>
}
