@(purposes : List[Purpose],regNo : String)

<div class="page-header">
	<h3>Purposes</h3>
</div>
<div class="panel-group" id="accordion">
	@for(purpose <- purposes){
		<div class="panel panel-default">
			<div class="panel-heading clickable purpose" data-toggle="collapse"
				data-parent="#accordion" data-target=#@Util.getUniqueString(purpose.getPurpose())>
				<h3 class="panel-title purpose-title">
					<a class="accordion-toggle">@purpose.getPurpose() <span
						class="glyphicon glyphicon-plus pull-right"></span></a>
				</h3>
			</div>
			<div id=@Util.replaceWithMark(purpose.getPurpose()) class="panel-collapse collapse">
				<div class="panel-body">
					<fieldset>
						<legend>General</legend>
						<ul>
							<li><b>Description</b> : @purpose.getDescription()</li>
							<li><b>Further description</b> :
								@purpose.getFurtherDescription()</li>
							<li><b>Transfers</b> : @purpose.getTransfers()</li>
						</ul>
					</fieldset>

					<div class="row">
						<div class="col-xs-4 col-sm-4">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Data Classes <span class="badge pull-right">@purpose.getDataClasses().size()</span></h3>
								</div>
								<ul class="list-group">
									@for(dataClass <- purpose.getDataClasses()){
										<a class="clickable list-group-item stat-object dataClass-item" id="@Util.getUniqueString(dataClass)">@dataClass</a> 
									}
								</ul>
							</div>
						</div>

						<div class="col-xs-4 col-sm-4">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Data Subjects <span class="badge pull-right">@purpose.getDataSubjects().size()</span></h3>
								</div>
								<ul class="list-group">
									@for(dataSubject <- purpose.getDataSubjects()){
										<a class="list-group-item clickable stat-object dataSubject-item" id="@Util.getUniqueString(dataSubject)">@dataSubject</a> 
									}
								</ul>

							</div>
						</div>
	
						<div class="col-xs-4 col-sm-4">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Data Disclosees <span class="badge pull-right">@purpose.getDataDisclosees().size()</h3>
								</div>

								<ul class="list-group">
									@for(dataDisclosee <- purpose.getDataDisclosees()){
										<a class="list-group-item clickable stat-object dataDisclosee-item" id="@Util.getUniqueString(dataDisclosee)">@dataDisclosee</a> 
									}
								</ul>

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-sm-4"><div class="text-center graph-heading" id="@Util.replaceWithMark(purpose.getPurpose())-left-heading"></div></div>
						<div class="col-xs-4 col-sm-4"><div class="text-center graph-heading" id="@Util.replaceWithMark(purpose.getPurpose())-middle-heading"></div></div>
						<div class="col-xs-4 col-sm-4"><div class="text-center graph-heading" id="@Util.replaceWithMark(purpose.getPurpose())-right-heading"></div></div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-sm-4">
							
							<div class="graph" id="@Util.replaceWithMark(purpose.getPurpose())-left-graph" ></div>
							
							<div class="hidden" id="dataClasses-size">@purpose.getDataClasses().size()</div>
							<div class="hidden" id="dataClasses-median">@Values.getMedian("dataClass")</div>
							
							@for(dataClass <- purpose.getDataClasses()){
								<div class="hidden" id="@Util.replaceWithMark(purpose.getPurpose())-dataClass-@Util.getUniqueString(dataClass)">@Values.getNumberOfControllers("dataClass",dataClass)</div>
								<a href="./@regNo/similar/dataClass/@Util.replaceWithMark(dataClass)" class="hidden" id="@Util.replaceWithMark(purpose.getPurpose())-dataClass-link-@Util.getUniqueString(dataClass)">View controllers collecting this</a>
							}
							
							

						</div>
						<div class="col-xs-4 col-sm-4">
							<div class="graph" id="@Util.replaceWithMark(purpose.getPurpose())-middle-graph" ></div>
							<div class="hidden" id="@Util.replaceWithMark(purpose.getPurpose())-dataSubjects-size">@purpose.getDataSubjects().size()</div>
							<div class="hidden" id="@Util.replaceWithMark(purpose.getPurpose())-dataSubjects-median">@Values.getMedian("dataSubject")</div>
							
							@for(dataSubject <- purpose.getDataSubjects()){
								<div class="hidden" id="@Util.replaceWithMark(purpose.getPurpose())-dataSubject-@Util.getUniqueString(dataSubject)">@Values.getNumberOfControllers("dataSubject",dataSubject)</div>
								<a href="./@regNo/similar/dataSubject/@Util.replaceWithMark(dataSubject)" class="hidden" id="@Util.replaceWithMark(purpose.getPurpose())-dataSubject-link-@Util.getUniqueString(dataSubject)">View controllers collecting this</a>
							}
						</div>
						<div class="col-xs-4 col-sm-4">
							<div class="graph" id="@Util.replaceWithMark(purpose.getPurpose())-right-graph" ></div>
							
							<div class="hidden" id="@Util.replaceWithMark(purpose.getPurpose())-dataDisclosees-size">@purpose.getDataDisclosees().size()</div>
							<div class="hidden" id="@Util.replaceWithMark(purpose.getPurpose())-dataDisclosees-median">@Values.getMedian("dataDisclosee")</div>
							
							@for(dataDisclosee <-purpose.getDataDisclosees()){
								<div class="hidden" id="@Util.replaceWithMark(purpose.getPurpose())-dataDisclosee-@Util.getUniqueString(dataDisclosee)">@Values.getNumberOfControllers("dataDisclosee",dataDisclosee)</div>
								<a href="./@regNo/similar/dataDisclosee/@Util.replaceWithMark(dataDisclosee)" class="hidden" id="@Util.replaceWithMark(purpose.getPurpose())-dataDisclosee-link-@Util.getUniqueString(dataDisclosee)">View controllers collecting this</a>
							}
							
						</div>
					</div>
					<button type="button" id="clear-graph" class="text-center btn btn-primary" onclick="clearAllCharts()">Clear charts</button>
					<div class="hidden" id="count">@Values.getNumberOfRecords()</div>
					
				</div>
			</div>
		</div>
	}
</div>