@(purposes : List[Purpose],regNo : String,newFormat : NewFormat)

<div class="page-header">
	<h3>Purposes</h3>
</div>
<div class="panel-group" id="accordion">
	@for(purpose <- purposes){
		<div class="panel panel-default">
			<div class="panel-heading clickable purpose" data-toggle="collapse"
				data-parent="#accordion" data-target=#@Util.getUniqueString(purpose.getPurpose())>
				<h3 class="panel-title purpose-title">
					<a class="accordion-toggle" id="@Util.getUniqueString(purpose.getPurpose())-title">@purpose.getPurpose() <span
						class="glyphicon glyphicon-plus pull-right" ></span></a>
				</h3>
			</div>
			<div id=@Util.getUniqueString(purpose.getPurpose()) class="panel-collapse collapse">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6 col-sm-6">
							
							<h3>Purpose Description</h3>
							<p>@purpose.getDescription()</p>
							
							<h3>Transfer Policy</h3>
							<p>@purpose.getTransfers()</p>
							<a class="clickable stat-object purpose-item text-center">View information on this Purpose</a>
						</div>
						<div class="col-xs-6 col-sm-6 purpose-stat">
							<div class="text-center graph-heading" id="@Util.getUniqueString(purpose.getPurpose())-purpose-heading"></div>
							<div class="graph" id="@Util.getUniqueString(purpose.getPurpose)-purpose-graph"></div>
							<div class="hidden" id="@Util.getUniqueString(purpose.getPurpose())-purpose-number">@Values.getNumberOfControllers("purpose",purpose.getPurpose())</div>
							<a href="./@regNo/similar/purpose/@Util.replaceWithMark(purpose.getPurpose)" class="hidden" id="@Util.getUniqueString(purpose.getPurpose())-link-purpose">View controllers collecting for this purpose</a>
						</div>
					</div>
					<br>
					<div class="hidden" id="specMed-label">purpose</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">Statistics</h4>
						</div>
						<div class="panel-body statistics">
					<div class="row">
						<div class="col-xs-4 col-sm-4"><div class="text-center graph-heading" id="@Util.getUniqueString(purpose.getPurpose())-left-heading"><h4>Data Class Statistics</h4></div></div>
						<div class="col-xs-4 col-sm-4"><div class="text-center graph-heading" id="@Util.getUniqueString(purpose.getPurpose())-middle-heading"><h4>Data Subject Statistics</h4></div></div>
						<div class="col-xs-4 col-sm-4"><div class="text-center graph-heading" id="@Util.getUniqueString(purpose.getPurpose())-right-heading"><h4>Data Disclosee Statistics</h4></div></div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-sm-4"><div class="text-justify graph-body" id="@Util.getUniqueString(purpose.getPurpose())-left-body">This section will show information and statistics about data classes and sensitive data classes. Clicking on list items will show information on that specific item while panel headings will give an overview on that data type.</div></div>
						<div class="col-xs-4 col-sm-4"><div class="text-justify graph-body" id="@Util.getUniqueString(purpose.getPurpose())-middle-body">This section will show information and statistics about data subjects. Clicking on list items will show information on that specific item while panel headings will give an overview on that data type.</div></div>
						<div class="col-xs-4 col-sm-4"><div class="text-justify graph-body"id="@Util.getUniqueString(purpose.getPurpose())-right-body">This section will show information and statistics about data disclosees. Clicking on list items will show information on that specific item while panel headings will give an overview on that data type.</div></div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-sm-4">
							
							<div class="text-center graph" id="@Util.getUniqueString(purpose.getPurpose())-left-graph" ><h3 class="vertical-center">Chart will be displayed here</h3></div>
							
							<div class="hidden" id="@Util.getUniqueString(purpose.getPurpose())-dataClasses-size">@purpose.getDataClasses().size()</div>
							<div class="hidden" id="@Util.getUniqueString(purpose.getPurpose())-dataClasses-median">@Values.getMedian("dataClass")</div>
							<div class="hidden" id="@Util.getUniqueString(purpose.getPurpose())-dataClasses-specMed">@Values.getPurposeMedian("dataClass",purpose.getPurpose())</div>
							
							@for(dataClass <- purpose.getDataClasses()){
								<div class="hidden" id="@Util.getUniqueString(purpose.getPurpose())-dataClass-@Util.getUniqueString(dataClass)">@Values.getNumberOfControllers("dataClass",dataClass)</div>
								<a href="./@regNo/similar/dataClass/@Util.replaceWithMark(dataClass)" class="hidden" id="@Util.getUniqueString(purpose.getPurpose())-dataClass-link-@Util.getUniqueString(dataClass)">View controllers collecting this</a>
							}
							
						</div>
						<div class="col-xs-4 col-sm-4">
							<div class="text-center graph" id="@Util.getUniqueString(purpose.getPurpose())-middle-graph" ><h3 class="vertical-center">Chart will be displayed here</h3></div>
							
							<div class="hidden" id="@Util.getUniqueString(purpose.getPurpose())-dataSubjects-size">@purpose.getDataSubjects().size()</div>
							<div class="hidden" id="@Util.getUniqueString(purpose.getPurpose())-dataSubjects-median">@Values.getMedian("dataSubject")</div>
							<div class="hidden" id="@Util.getUniqueString(purpose.getPurpose())-dataSubjects-specMed">@Values.getPurposeMedian("dataSubject",purpose.getPurpose())</div>
							
							@for(dataSubject <- purpose.getDataSubjects()){
								<div class="hidden" id="@Util.getUniqueString(purpose.getPurpose())-dataSubject-@Util.getUniqueString(dataSubject)">@Values.getNumberOfControllers("dataSubject",dataSubject)</div>
								<a href="./@regNo/similar/dataSubject/@Util.replaceWithMark(dataSubject)" class="hidden" id="@Util.getUniqueString(purpose.getPurpose())-dataSubject-link-@Util.getUniqueString(dataSubject)">View controllers collecting this</a>
							}
						</div>
						<div class="col-xs-4 col-sm-4">
							<div class="text-center graph" id="@Util.getUniqueString(purpose.getPurpose())-right-graph" ><h3 class="vertical-center">Chart will be displayed here</h3></div>
							
							<div class="hidden" id="@Util.getUniqueString(purpose.getPurpose())-dataDisclosees-size">@purpose.getDataDisclosees().size()</div>
							<div class="hidden" id="@Util.getUniqueString(purpose.getPurpose())-dataDisclosees-median">@Values.getMedian("dataDisclosee")</div>
							<div class="hidden" id="@Util.getUniqueString(purpose.getPurpose())-dataDisclosees-specMed">@Values.getPurposeMedian("dataDisclosee",purpose.getPurpose())</div>
							
							@for(dataDisclosee <-purpose.getDataDisclosees()){
								<div class="hidden" id="@Util.getUniqueString(purpose.getPurpose())-dataDisclosee-@Util.getUniqueString(dataDisclosee)">@Values.getNumberOfControllers("dataDisclosee",dataDisclosee)</div>
								<a href="./@regNo/similar/dataDisclosee/@Util.replaceWithMark(dataDisclosee)" class="hidden" id="@Util.getUniqueString(purpose.getPurpose())-dataDisclosee-link-@Util.getUniqueString(dataDisclosee)">View controllers collecting this</a>
							}
							
						</div>
					</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-4 col-sm-4">
							<div class="panel panel-info">
								<div class="panel-heading inner-panel clickable" id="dataClass-panel">
									<h3 class="panel-title">Data Classes  <a class ="tool-tip" data-toggle="tool-tip" data-placement="top" title="The information collected."><span class="glyphicon glyphicon-info-sign"></span></a> <span class="badge pull-right">@purpose.getDataClasses().size()</span></h3>
								</div>
								<ul class="list-group">
									@for(dataClass <- purpose.getDataClasses()){
										<a class="clickable list-group-item stat-object dataClass-item" id="@Util.getUniqueString(dataClass)">@dataClass</a> 
									}
								</ul>
							</div>
						</div>

						<div class="col-xs-4 col-sm-4">
							<div class="panel panel-info">
								<div class="panel-heading inner-panel clickable" id="dataSubject-panel">
									<h3 class="panel-title">Data Subjects <a class ="tool-tip" data-toggle="tool-tip" data-placement="top" title="The people information is collected from."><span class="glyphicon glyphicon-info-sign"></span></a><span></span><span class="badge pull-right">@purpose.getDataSubjects().size()</span></h3>
								</div>
								<ul class="list-group">
									@for(dataSubject <- purpose.getDataSubjects()){
										<a class="list-group-item clickable stat-object dataSubject-item" id="@Util.getUniqueString(dataSubject)">@dataSubject</a> 
									}
								</ul>

							</div>
						</div>
	
						<div class="col-xs-4 col-sm-4">
							<div class="panel panel-info">
								<div class="panel-heading inner-panel clickable" id="dataDisclosee-panel">
									<h3 class="panel-title">Data Disclosees <a class ="tool-tip" data-toggle="tool-tip" data-placement="top" title="The people collected information is shared with."><span class="glyphicon glyphicon-info-sign"></span></a><span class="badge pull-right">@purpose.getDataDisclosees().size()</h3>
								</div>

								<ul class="list-group">
									@for(dataDisclosee <- purpose.getDataDisclosees()){
										<a class="list-group-item clickable stat-object dataDisclosee-item" id="@Util.getUniqueString(dataDisclosee)">@dataDisclosee</a> 
									}
								</ul>

							</div>
						</div>
					</div>
					<div class="hidden" id="count">@Values.getNumberOfRecords()</div>
					
				</div>
			</div>
		</div>
	}
</div>