#map_canvas {
        width: 500px;
        height: 400px;
        background-color: #CCC;
      }
      
.row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.panel-body{
	height :100%;
}

.dl-horizontal dt{
	width:50%;
	text-align:left;
}

.dl-horizontal dd{
	width:50%;
}

.panel-heading {
    cursor: pointer;
}

.glyphicon{
	float:right;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.main-container{
	padding-bottom:30px;
}



