@(dataController: DataController)

@main(dataController.getOrganisationName()) {
    <fieldset id="general_info">
    <legend>General Information</legend>
    <ul>
    	<li><b>Registration Number</b>			:   @dataController.getRegistrationNumber()</li>
    	<li id="organisationName"><b>Name</b> 	:   @dataController.getOrganisationName()</li>
    	<li><b>Trading Name</b> 				:   @dataController.getTradingName()</li>
  	 	<li><b>Companies House Number</b>		:   @dataController.getCompaniesHouseNumber()</li>
 	  	<li><b>Start Date</b> 					:	@dataController.getStartDate()</li>
 	   	<li><b>End Date</b> 					:	@dataController.getEndDate()<br></li>
    	<li><b>Freedom of Information Flag</b> 	:	@dataController.getFoiFlag()</li>
    	<li><b>Exempt from processing</b> 		:	@dataController.getExemptFlag()</li>
    	<li><b>Contact in UK</b> 				:	@dataController.getUkContact()</li>
    	<li><b>Subject Access</b>			 	:	@dataController.getSubjectAccess()</li>
    </ul>
    </fieldset>
    
    <fieldset id="contact">
    <legend>Contact</legend>
    <ul>
    	<li id="address"><b>Address</b> : @dataController.getAddress()</li>
    	<li id="postcode"><b>Postcode</b>: @dataController.getPostcode()</li>
    	<li id="country"><b>Country</b> : @dataController.getCountry()</li>
    </ul>
    @if(dataController.getAddress().length() > 1){
    	<div id="map_canvas"></div>
    }
    </fieldset>
     
    @if(dataController.getFormat().equals("new")){
    	<p>This is the new format</p>
    	<fieldset>
		<legend>General</legend>
		<ul>
			<li><b>Nature of Work</b> 	:	@dataController.getNewFormat().getNatureOfWork()</li>
			<li><b>Transfers</b>		:	@dataController.getNewFormat().getTransfers()</li>
		</ul>
       	</fieldset>
    	    	
    	<fieldset id="newFormat_purposes">
    	<legend>Purposes</legend>
    	<ul>
    		@for(purpose <- dataController.getNewFormat().getPurposes()){
    			<li>@purpose</li>
    		}
    	</ul>
    	</fieldset>
    	<fieldset id="newFormat_classes">
    	<legend>Data Classes</legend>
    	<ul>
    		@for(dataClass <- dataController.getNewFormat().getDataClasses()){
    			<li>@dataClass</li>
    		}
    	</ul>
    	@if(dataController.getNewFormat().getSensitiveData.size() > 0){
    		<fieldset>
    		<legend>Sensitive Data</legend>
    		<ul>
    			@for(sensitiveData <- dataController.getNewFormat().getSensitiveData()){
    				<li>@sensitiveData</li>
    			}
    		</ul>
    		</fieldset>
    		}
    	</fieldset>
    	
    	<fieldset id="newFormat_subjects">
    	<legend>Data Subjects</legend>
    	<ul>
    		@for(dataSubject <- dataController.getNewFormat().getDataSubjects()){
    			<li>@dataSubject</li>
    		}
    	</ul>
    	</fieldset>
    	
    	<fieldset id="newFormat_disclosees">
    	<legend>Disclosees</legend>
    	<ul>
    		@for(dataDisclosee <- dataController.getNewFormat().getDataDisclosees()){
    			<li>@dataDisclosee</li>
    		}
    	</ul>
    	</fieldset>
    	
    }else{
    	@if(dataController.getFormat().equals("old")){
    		<p>This is the older format<p>
    		@for(purpose <- dataController.getOldFormat()){
    			<fieldset id="oldFormat_purpose">
    				<legend>Purpose : <b>@purpose.getPurpose()</b></legend>
    				<fieldset>
    				<legend>General</legend>
    				<ul>
    					<li><b>Description</b> 		:	@purpose.getDescription()</li>
    					<li><b>Further description</b> 		:	@purpose.getFurtherDescription()</li>
    					<li><b>Transfers</b>		:	@purpose.getTransfers()</li>
    				</ul>
    				</fieldset>
    				
    				<fieldset id="oldFormat_classes">
    					<legend>Data Classes</legend>
    					<ul>
    						@for(dataClass <- purpose.getDataClasses()){
    						<li>@dataClass</li>
    						}
    					</ul>
    				</fieldset>
    				
    				<fieldset id="oldFormat_subjects">
    					<legend>Data Subjects</legend>
    					<ul>
    						@for(subject <- purpose.getDataSubjects()){
    						<li>@subject</li>
    						}
    					</ul>
    				</fieldset>
    				
    				<fieldset id="oldFormat_disclosees">
    					<legend>Data Disclosees</legend>
    					<ul>
    						@for(disclosee <- purpose.getDataDisclosees()){
    						<li>@disclosee</li>
    						}
    					</ul>
    				</fieldset>  				
    				
    			</fieldset>   		
    		}
    	}
    } 
}
