@(newFormat : NewFormat)
<script src="@routes.Assets.at("javascripts/util.js")" type="text/javascript"></script>

<h3 class="text-center">This data controller's nature of work is <b>@newFormat.getNatureOfWork()</b></h3>
<h3 class="page-header">Purposes</h3>
<div class="container">
<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading purpose" data-toggle="collapse"
			data-parent="#accordion" data-target="#general">
			<h3 class="panel-title purpose-title">
				<a class="accordion-toggle">General Purposes<span
					class="glyphicon glyphicon-plus pull-right"></span></a>
			</h3>
		</div>
		<div id="general" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h4 class="panel-title">Purposes</h4>
					</div>
					<div class="panel-body">
					@for(purpose <- newFormat.getPurposes()){
						@purpose
					}
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-4 col-sm-4">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h4 class="panel-title">Data Classes <span class="badge pull-right">@newFormat.getDataClasses.size()</span></h4>
							</div>
							<ul class="list-group">
								@for(dataClass <- newFormat.getDataClasses()){
									<li class="list-group-item">@dataClass</li> 
								}
							</ul>
							@if(newFormat.getSensitiveData.size() > 0){
								<div class="panel-body">
									<div class="panel panel-danger">
										<div class="panel-heading">
											<h3 class="panel-title">Sensitive Data <span class="badge pull-right">@newFormat.getSensitiveData.size()</span></h3>
										</div>

										<ul class="list-group">
											@for(sensitiveData <- newFormat.getSensitiveData()){
												<li class="list-group-item">@sensitiveData</li>
											}
										</ul>

									</div>
								</div>
							}

						</div>
					</div>
					<div class="col-xs-4 col-sm-4">
						<div class="clearfix visible-xs"></div>
						<div class="panel panel-info">
							<div class="panel-heading">
								<h4 class="panel-title">Data Subjects <span class="badge pull-right">@newFormat.getDataSubjects().size()</span></h4>
							</div>
							<ul class="list-group">
								@for(dataSubject <- newFormat.getDataSubjects()){
									<li class="list-group-item">@dataSubject</li>
								}
							</ul>

						</div>
					</div>
					<div class="col-xs-4 col-sm-4">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h4 class="panel-title">Data Disclosees <span class="badge pull-right">@newFormat.getDataDisclosees().size()</span></h4>
							</div>

							<ul class="list-group">
								@for(dataDisclosee <- newFormat.getDataDisclosees()){
									<li class="list-group-item">@dataDisclosee</li> 
								}
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@for(purpose <- newFormat.getOtherPurposes()){
		<div class="panel panel-default">
			<div class="panel-heading purpose" data-toggle="collapse"
				data-parent="#accordion" data-target=#@purpose.getUniqueName()>
				<h4 class="panel-title purpose-title">
					<a class="accordion-toggle">@purpose.getPurpose() <span
						class="glyphicon glyphicon-plus pull-right"></span></a>
				</h4>
			</div>
			<div id=@purpose.getUniqueName() class="panel-collapse collapse">
				<div class="panel-body">@purpose.getStatement()</div>
			</div>
		</div>
	}
</div>
</div>
<h3 class="page-header">Transfer Policy</h3>
<div class="container">
<p>@newFormat.getTransfers()</p>
</div>