@(newFormat : NewFormat)
<script src="@routes.Assets.at("javascripts/util.js")" type="text/javascript"></script>

<b>Nature of Work</b>
: @newFormat.getNatureOfWork()
<br>

<div class="page-header">
	<h3>Purposes</h3>
</div>
<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading purpose" data-toggle="collapse"
			data-parent="#accordion" data-target="#general">
			<h4 class="panel-title purpose-title">
				<a class="accordion-toggle">General Purposes<span
					class="glyphicon glyphicon-plus"></span></a>
			</h4>
		</div>
		<div id="general" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-4 col-sm-4">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title">Data Classes</h3>
							</div>
							<ul class="list-group">
								@for(dataClass <- newFormat.getDataClasses()){
									<li class="list-group-item">@dataClass</li> 
								}
							</ul>
							@if(newFormat.getSensitiveData.size() > 0){
								<div class="panel-body">
									<div class="panel panel-danger">
										<div class="panel-heading">
											<h3 class="panel-title">Sensitive Data</h3>
										</div>

										<ul class="list-group">
											@for(sensitiveData <- newFormat.getSensitiveData()){
												<li class="list-group-item">@sensitiveData</li>
											}
										</ul>

									</div>
								</div>
							}

						</div>
					</div>
					<div class="col-xs-4 col-sm-4">
						<div class="clearfix visible-xs"></div>
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title">Data Subjects</h3>
							</div>

							<ul class="list-group">
								@for(dataSubject <- newFormat.getDataSubjects()){
									<li class="list-group-item">@dataSubject</li>
								}
							</ul>

						</div>
					</div>
					<div class="col-xs-4 col-sm-4">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title">Data Disclosees</h3>
							</div>

							<ul class="list-group">
								@for(dataDisclosee <- newFormat.getDataDisclosees()){
									<li class="list-group-item">@dataDisclosee</li> 
								}
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@for(purpose <- newFormat.getOtherPurposes()){
		<div class="panel panel-default">
			<div class="panel-heading purpose" data-toggle="collapse"
				data-parent="#accordion" data-target=#@purpose.getUniqueName()>
				<h4 class="panel-title purpose-title">
					<a class="accordion-toggle">@purpose.getPurpose() <span
						class="glyphicon glyphicon-plus"></span></a>
				</h4>
			</div>
			<div id=@purpose.getUniqueName() class="panel-collapse collapse">
				<div class="panel-body">@purpose.getStatement()</div>
			</div>
		</div>
	}
</div>